body {
    background-color: black;
    transition: background-color 0.3s ease;
}

.dark {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.main-1{
    display: grid;
}
#nav {
    float: right;
}

#nav a {
    color: wheat;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav a:hover{
    background-color: wheat;
    color: white;
}
#intro{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5vw;
}

#desc{
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: wheat;
}
 button {
    height: 3vw;
    width: 11vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    color: wheat; 
    font-size: 1.5vw;
    margin-top: 5vw;
}

.contact{
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin-left: 16%;
    margin-top: 10%;
}
html {
    scroll-behavior: smooth;
}


/*Second Page*/
.main{
    display: grid;
}

#nav{
    justify-self: end;
}

#dal{
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
}

#project{
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3vw;
}
#pro-head{
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
}
#title{
    color: wheat;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}

#des{
    color: wheat;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}